.form_fields_container {
  margin-bottom: 3em;
}

.svg_and_form_field {
  flex-wrap: wrap;
}

svg.icon-tabler-lock {
  align-self: flex-start;
  margin-top: 0.5em;
}

a {
  font-family: robotoRegular;
  font-size: small;
  color: #384b41;
}

a:hover {
  font-weight: bold;
  color: #384b41;
}

.create_account_link_container {
  display: flex;
  font-family: robotoRegular;
  font-size: small;
  width: 75%;
  /* border: 1px solid red; */
}

.sign_up_link {
  margin-left: .25em;
  font-family: robotoBold;
}