{% extends "budget/base.html" %} {% load static %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/budget/base.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/budget/edit_budget/edit_budget.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/budget/edit_budget/adjust_allowance.css' %}"
/>
{% endblock stylesheet %} {% block content %}
<div class="page_container">
  <div class="outer_form_container">
    <h3>Enter Adjustments</h3>
    <div class="inner_form_container">
      <form
        id="save_allowance_adjustments"
        action="{% url 'save_allowance_adjustments' %}"
        method="POST"
      >
        {% for k,v in categories_budget_to_adjust.items %}
        <div class="selected_allowances">
          <div class="allowance_title">
            <label for="">{{k}}</label>
            <h6>Current Allowance: {{ v }}</h6>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input name="{{ k }}" type="text" class="form-control" />
          </div>
        </div>
        {% endfor %} {% csrf_token %}
        <input type="submit" value="Submit" />
      </form>
    </div>
  </div>
</div>
{% endblock content %} {% block script %}
<script>
  $(document).ready(function () {
    $("button[class='dropdown-toggle']").attr("title", "Food");
  });
</script>
{% endblock script %}
