{% extends "budget/base.html" %} 
{% block content %} 
<h3 class="d-flex justify-content-center"></h3>
<div class="d-flex justify-content-center">
    <form action="" method="POST">
      {{ edit_budget_form.as_p }}
      {% csrf_token %} 
    </form>
</div>
<div class="d-flex justify-content-center">
    <form id="add_category" action="{% url 'add_categories' %}" method="POST">
        <div id="input_div">
            <input id=0 type="text" name="category"/>
            <button id=0 type="button">-</button>
        </div>
        <br id=0>
        <input type="submit" value="Continue" />
        <button id="add_another_category" type="button">+</button>
        {% csrf_token %} 
    </form>
</div>
<div class="d-flex justify-content-center">
    <form id="adjust_allowance" action="{% url 'adjust_allowance' %}" method="POST">
        <input type="text"/>
        <input type="submit" value="Adjust" />
        {% csrf_token %} 
    </form>
</div>
<div class="d-flex justify-content-center">
    <form id="remove_categories" action="{% url 'remove_categories' %}" method="POST">
        <label for="categories">Choose category(s):</label>
        <select class="selectpicker form-control multiple data-live-search"
         name="categories" id="categories" multiple>
        {% for cat in categories %}
            <option value={{cat}}> {{cat}} </option>
        {% endfor %}
        </select>
        {% csrf_token %} 
        <br>
        <input type="submit" value="Remove">
    </form>
</div>
{% endblock content %}
{% block script %} 
  <script>
      $(document).ready(function(){
        $("#adjust_allowance").hide();
        $("#add_category").show();
        $("#remove_categories").hide();
        $("select").on("change", function() {
            var option = $("#id_actions").find(":selected").text();
            if (option == "Add Category") {
                $("#add_category").show();
                $("#adjust_allowance").hide();
                $("#remove_categories").hide();
            } else if (option == "Adjust Allowance") {
                $("#adjust_allowance").show();
                $("#remove_categories").hide();
                $("#add_category").hide();
            } else {
                $("#remove_categories").show();
                $("#adjust_allowance").hide();
                $("#add_category").hide();
            }
        });
    });
  </script>
  <script>
    $(document).ready(function(){
        var_categories = []
        clicked_num = 1
        $("#add_another_category").on("click", function() {
            var input_box = `<br id=${clicked_num}><input id=${clicked_num} type="text" name="category"/>\
                            <button id=${clicked_num} type="button">-</button>`;
            $("#input_div").append(input_box);
            clicked_num+=1
            $("#input_div").find("button").on("click", function() {
                $(`input[id=${this.id}]`).remove()
                $(`button[id=${this.id}]`).remove()
                $(`br[id=${this.id}]`).remove()
            })
        });
    });
  </script>
{% endblock script %}
