{% extends "budget/base.html" %} 
{% load static %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/base.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/edit_budget.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/add_category.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/adjust_allowance.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/remove_tracked_category.css' %}"
/>
{% endblock stylesheet %}
{% block content %} 
<div class="page_container">
    <div class="actions_form">
        <form action="" method="POST">
        {{ edit_budget_form.as_p }}
        {% csrf_token %} 
        </form>
    </div>
    <div class="add_category_form">
        <form id="add_category" action="{% url 'add_categories' %}" method="POST">
            <div class="add_category_form_input_and_button" id="input_div">
                <div class="test_container" id=0>
                    <input class="form-control" id=0 type="text" name="category"/>
                    <button id=0 type="button">—</button>
                </div>
            </div>
            <div class="add_category_for_continue_and_add_button">
                <input type="submit" value="Continue" />
                <button id="add_another_category" type="button">+</button>
            </div>
            {% csrf_token %} 
        </form>
    </div>
    <!-- <span id="error_message">{{ error_message }}</span> -->
    <div class="adjust_allowance_form">
        <form id="adjust_allowance" action="{% url 'adjust_allowance' %}" method="POST">
            <label for="category">Choose category(s):</label>
            <select class="selectpicker form-control" name="category" id="category" multiple>
            {% for cat in categories %}
                <option value={{cat}}> {{cat}} </option>
            {% endfor %}
            <input type="submit" value="Adjust" />
            {% csrf_token %} 
        </form>
    </div>
    <div class="remove_categories_form">
        <form id="remove_categories" action="{% url 'remove_categories' %}" method="POST">
            <label for="categories">Choose category(s):</label>
            <select class="selectpicker form-control" name="categories" id="categories" multiple>
            {% for cat in categories %}
                <option value={{cat}}> {{cat}} </option>
            {% endfor %}
            </select>
            {% csrf_token %} 
            <input type="submit" value="Remove">
        </form>
    </div>
</div>
{% endblock content %}
{% block script %} 
  <script>
      $(document).ready(function(){
        $(".adjust_allowance_form").hide();
        $(".add_category_form").show();
        $(".remove_categories_form").hide();
        $("select").on("change", function() {
            var option = $("#id_actions").find(":selected").text();
            if (option == "Add Category") {
                $(".add_category_form").show();
                $(".adjust_allowance_form").hide();
                $(".remove_categories_form").hide();
            } else if (option == "Adjust Allowance") {
                $(".adjust_allowance_form").show();
                $(".remove_categories_form").hide();
                $(".add_category_form").hide();
            } else {
                $(".remove_categories_form").show();
                $(".adjust_allowance_form").hide();
                $(".add_category_form").hide();
            }
        });
    });
  </script>
  <script>
    $(document).ready(function(){
        var_categories = []
        clicked_num = 0
        $("#add_another_category").on("click", function() {
            var input_box = `<div class="test_container" id=${clicked_num+1}><input class="form-control" id=${clicked_num+1} name="category" type="text" />\
                            <button id=${clicked_num+1} type="button">—</button></div>`;
            if ($("div[class=test_container]").length) {
                $(input_box).insertAfter($("div[class=test_container]").last());
            } else {
                $("div[id=input_div]").append($(input_box));
            }
            clicked_num+=1
            $("#input_div").find("button").on("click", function() {
                $(`div[id=${this.id}]`).remove()
                $(`input[id=${this.id}]`).remove()
                $(`button[id=${this.id}]`).remove()
            })
        });
    });
  </script>
{% endblock script %}
