{% extends "budget/base.html" %} 
{% block content %} 
<h3 class="d-flex justify-content-center"></h3>
<div class="d-flex justify-content-center">
    <form action="" method="POST">
      {{ edit_budget_form.as_p }}
      {% csrf_token %} 
    </form>
   
</div>
<div class="d-flex justify-content-center">
    <form id="add_category" action="/add_category" method="POST">
        <input type="text"/>
        <input type="submit" value="Add" />
        {% csrf_token %} 
    </form>
</div>
<div class="d-flex justify-content-center">
    <form id="adjust_allowance" action="/adjust_allowance" method="POST">
        <input type="text"/>
        <input type="submit" value="Adjust" />
        {% csrf_token %} 
    </form>
</div>
<div class="d-flex justify-content-center">
    <form id="remove_categories" action="/remove_categories">
        <label for="categories">Choose category(s):</label>
        <select class="selectpicker form-control multiple data-live-search"
         name="categories" id="categories" multiple>
        {% for cat in categories %}
            <option value={{cat}}> {{cat}} </option>
        {% endfor %}
        </select>
        <br>
        <input type="submit" value="Remove">
    {% csrf_token %} 
    </form>
</div>
{% endblock content %}
{% block script %} 
  <script>
      $(document).ready(function(){
        $("#adjust_allowance").hide();
        $("#add_category").hide();
        $("#remove_categories").hide();
        $("select").on("change", function() {
            $("#adjust_allowance").hide();
            $("#add_category").hide();
            $("#remove_categories").hide();
            var option = $("#id_actions").find(":selected").text();
            if (option == "Add Category") {
                $("#add_category").show();
                $("#adjust_allowance").hide();
                $("#remove_categories").hide();
            } else if (option == "Adjust Allowance") {
                $("#adjust_allowance").show();
                $("#remove_categories").hide();
                $("#add_category").hide();
            } else {
                $("#remove_categories").show();
                $("#adjust_allowance").hide();
                $("#add_category").hide();
            }
        });
    });
  </script>
{% endblock script %}
