  <div class="mobile-menu-button">
    <div class="mobile-menu-button__line"></div>
    <div class="mobile-menu-button__line"></div>
    <div class="mobile-menu-button__line"></div>
  </div>
  <div class="navbar">
    <nav class="navbar__links">
      <p class="navbar__username">{{ user.username }}</p>
      <a class="navbar__link" href="{% url 'home' %}">Home</a>
      <a class="navbar__link" href="{% url 'create_account' %}">Create Account</a>
      {% if user.is_authenticated and has_budget %}
      <a class="navbar__link" href="{% url 'edit_budget' %}">Edit Budget</a>
      {% else %}
      <a class="navbar__link" href="{% url 'add_categories' %}">Create Budget</a>
      {% endif %}
      <a class="navbar__link" href="{% url 'add_transaction' %}"
        >Add Transaction</a
      >
      {% if user.is_authenticated %}
      <a class="navbar__link" href="{% url 'logout_user' %}">Logout</a>
      {% else %}
      <a class="navbar__link" href="{% url 'login_user' %}">Login</a>
      {% endif %}
    </nav>
  </div>
{% block script %}
<script src="static/js/navbar.js"></script>
{% endblock script %}