  <ul class="nav">
      <li class="navbar_username">
        <span>
          {{ user.username }}
        </span>
    </li>
      <div class="navbar_links">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'create_account' %}">Create Account</a>
          </li>
        {% if user.is_authenticated and has_budget %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_budget' %}">Edit Budget</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_categories' %}">Create Budget</a>
          </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_transaction' %}">Add Transaction</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item logout_container">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}
      </div>
    </ul>
