@mixin flexDirectionColumn($justify_content:center, $align_items:center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify_content;
    align-items: $align_items;
}

    
@mixin forSmallPhones() {
    @media all and (min-width: 320px) and (max-width: 768px){
        @content;
    }
}

@mixin forTablets() {
    @media all and (min-width: 768px) {
        @content;
    }
} 

@mixin forDesktop() {
    @media all and (min-width: 1200px) {
        @content;
    } 
}  
 
