@use "variables";
@use "mixins";

.login_container {
  @include mixins.flexDirectionColumn();
  width: inherit;
  height: 100%;
  // border: 2px solid red;
}

.form_and_title_container {
  @include mixins.flexDirectionColumn();
  // height: 50vh;
  border-radius: .5em;
  border-style: none;
  border-color: #9bb0a5;
  box-shadow: 0 3px 10px rgba(0, 0, 0 , 0.2);
  color: variables.$accent-clr;
  // border: 1px solid blue; 

  @include mixins.forSmallPhones() {
    width: 50%;
  }

  @include mixins.forTablets() {
    width: 35%;
  }

  @include mixins.forDesktop() {
    width: 25%;
  }
}

.form_container {
  @include mixins.flexDirectionColumn();
  width: 85%;
  height: 40vh;
  margin-top: 1rem;
  // border: 1px solid red;
}

.form_fields_container {
  @include mixins.flexDirectionColumn();
  width: 100%;
  margin-bottom: 3rem;
  border: 1px solid blue;
}

.form-control {
  border-radius: 1em;
  font-family: variables.$ff-reg;
}

.fieldWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: 1px solid blue;
}

.fieldWrapper:nth-of-type(1){
  margin-bottom: 1rem;
}

.svg_and_form_field {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

svg {
  position: absolute;
  padding-left: 0.25rem;

  &.icon-tabler-lock {
    align-self: flex-start;
    margin-top: 0.5rem;
  }
  /* border: 1px solid red; */
}

#forgot_password_link {
  align-self: flex-start;
  margin-top: .25rem;
  margin-bottom: 2rem;
  // font-size: .85em;
  font-family: variables.$ff-reg;
  color: variables.$accent-clr;
  text-decoration: none;
  // border: 1px solid red;

}

input[value="Submit"] {
  background-color: variables.$secondary-clr;
  color: variables.$primary-clr;
  font-family: variables.$ff-bold;
  width: 100%;
  border-radius: 1em;
  border-style: solid;
  border-color: variables.$secondary-clr;
  box-shadow: variables.$box-shadow;
}

input:not([value="Submit"]) {
  text-indent: 1em;
  // border: 2px solid green; 
}

input:not([value="Submit"]):focus {
  border: 2px solid variables.$secondary-clr;
  outline: none;
  box-shadow: variables.$box-shadow;
}

#login_error_message {
  font-family: variables.$ff-reg;
  font-size: small;
  height: 75px;
  // border: 1px solid blue;
}

.create_account_link_container > span {
  font-family: variables.$ff-reg;
  color: variables.$accent-clr;
  // border: 1px solid red;
}

.sign_up_link {
  margin-left: .25rem;
  font-family: variables.$ff-bold;
  color: variables.$accent-clr;

  &:hover {
    color: variables.$accent-clr;
    text-decoration: none;
  }
}



