.adjust_allowance_form {
    display: flex;
    margin-top: 1em;
    border-style: none;
    border-color: #9bb0a5;
    border-radius: .5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#adjust_allowance {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30vw;
    padding-left: 1em;
    padding-top: .5em;
    border-radius: 0.5em;
    border-style: none;
    border-color: #9bb0a5;
    /* border: 1px solid green; */
}

.dropdown-menu {
    background-color: #fffff0;
}

#adjust_allowance > .bootstrap-select {
    width: 75%;
    margin-top: .5em;
    /* border: 1px solid red; */
}

#adjust_allowance > input {
    background-color: #9bb0a5;
    color: #fffff0;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #9bb0a5;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    font-family: robotoBold;
    font-size: large;
}

.outer_form_container {
    border-radius: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1em;
    border-style: none;
    border-color: #9bb0a5;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* border: 2px solid blue; */

}

.inner_form_container {
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}

#save_allowance_adjustments {
    display: flex;
    flex-direction: column;
    width: 70%;
    /* border: 1px solid saddlebrown; */
}

.selected_allowances {
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
}

.allowance_title {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid purple; */
}

.mb-3 {
    display: flex;
    /* border: 1px solid purple; */
}

#save_allowance_adjustments > input {
    background-color: #9bb0a5;
    color: #fffff0;
    border-radius: 0.5em;
    border-style: solid;
    border-color: #9bb0a5;
    align-self: center;
    width: 50%;
    margin-top: 1em;
}