{% extends "budget/base.html" %} {% load static %} {% block stylesheet %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/budget/base.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/members/create_account.css' %}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/members/login.css' %}"
/>
{% endblock stylesheet %} {% block content %}
<div class="page_container">
  <div class="form_and_title_container">
    <h2 id="login_page_heading">Login</h2>
    <div class="form_container">
      <form class="form_fields_container" action="{% url 'login_user' %}" method="POST">
        <div class="fieldWrapper">
          <div class="svg_and_form_field">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-user"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <circle cx="12" cy="7" r="4" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
            </svg>
            <input
              type="username"
              id="username"
              class="form-control"
              name="username"
              placeholder="Username"
            />
          </div>
        </div>
        <div class="fieldWrapper">
          <div class="svg_and_form_field">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-lock"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <rect x="5" y="11" width="14" height="10" rx="2" />
              <circle cx="12" cy="16" r="1" />
              <path d="M8 11v-4a4 4 0 0 1 8 0v4" />
            </svg>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              placeholder="Password"
            />
            <a id=forgot_password_link href="{% url 'reset_password' %}">Forgot Password?</a>
          </div>
        </div>
        <input type="submit" value="Submit" />
        <span id="error_message">{{error_message}}</span>
        <span id="password_reset_message">{{password_reset_message}}</span>
        {% csrf_token %}
      </form>
      <div class="create_account_link_container">
        <span>Don't have an account?</span><a class="sign_up_link" href="{% url 'create_account' %}">Sign Up</a>
      </div>
      {% endblock content %}
    </div>
  </div>
</div>
{% block script %}
<script>
  $(document).ready(function () {
    $("#username").on("keyup", function () {
      $("#error_message").hide();
    });
    $("#password").on("keyup", function () {
      $("#error_message").hide();
    });
  });
</script>
{% endblock script %}