@font-face {
  font-family: robotoBold;
  src: url(../../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

@font-face {
  font-family: robotoRegular;
  src: url(../../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}

body {
  height: 100vh;
  background-color: #fffff0;
  /* border: 5px solid peru; */
}

.app_container {
  display: flex;
  height: 100%;
  /* border: 3px solid black; */
}

.app_container > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9bb0a5;
  width: 10%;
  border: 1px solid red;
}

li > a {
  color: #fffff0;
  font-family: robotoBold;
  font-size: large;
}

li > a:hover {
  color: #384b41;
}

.navbar_username {
  font-family: robotoBold;
  color: #384b41;
  margin-top: 2em;
}

.navbar_links {
  margin-top: 1.5em;
}
