@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: robotoRegular;
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  background-color: #fffff0;
  min-height: 100%;
  width: 100%;
}

header {
  height: inherit;
}

main {
  height: inherit;
  width: inherit;
}

h1 {
  font-family: robotoBold;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9bb0a5;
  font-family: robotoBold;
  min-height: 100%;
}
.navbar__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  width: 15vw;
  height: 90vh;
}
@media all and (min-width: 768px) {
  .navbar__links {
    width: 20vw;
  }
}
@media all and (min-width: 1200px) {
  .navbar__links {
    width: 15vw;
  }
}
.navbar__username {
  color: #384b41;
}
.navbar__link {
  color: #fffff0;
  padding-top: 1em;
}
.navbar__link:hover {
  color: #384b41;
  text-decoration: none;
}
.navbar__link:not(.navbar__link:first-of-type) {
  padding-top: 1em;
}

.mobile-menu-button {
  display: none;
}
.mobile-menu-button__line {
  background-color: #384b41;
  font-family: robotoBold;
  margin: 5px;
  height: 3px;
  width: 25px;
}

@media all and (min-width: 320px) and (max-width: 768px) {
  body {
    overflow: hidden;
  }

  .mobile-menu-button {
    display: block;
    position: absolute;
    top: 0.75em;
    left: 2.5em;
    z-index: 2;
  }
  .mobile-menu-button__line {
    background-color: #384b41;
    height: 3px;
    width: 25px;
    cursor: pointer;
  }

  .toggle .mobile-menu-button__line:nth-of-type(1) {
    background-color: #fffff0;
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .mobile-menu-button__line:nth-of-type(2) {
    opacity: 0;
  }

  .toggle .mobile-menu-button__line:nth-of-type(3) {
    background-color: #fffff0;
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .navbar {
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    left: -100%;
    z-index: 1;
    height: 100vh;
    min-width: clamp(25vw, 40vw, 50vw);
    transform: translateX(-100%);
    transition: visibility 0.5s linear, transform 0.5s linear;
  }
  .navbar__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #9bb0a5;
    font-size: 1.25rem;
    visibility: hidden;
    position: absolute;
    top: 0;
    height: 90vh;
    border: 2px solid red;
  }
  .navbar__username {
    color: #384b41;
    padding-top: 3em;
    width: 150px;
  }
  .navbar__link {
    padding-top: 0;
    border: 1px solid red;
    width: 100px;
  }
  .navbar__link:hover {
    color: #384b41;
    text-decoration: none;
  }
  .navbar__link:not(.navbar__link:first-of-type) {
    padding-top: 0;
  }
}
.navbar-active {
  visibility: visible;
  transform: translateX(0%);
  left: 0%;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
  }
}

/*# sourceMappingURL=base.css.map */
